PATH_add .bin

if ! python scripts/goblin.py --check --no-fetch >/dev/null 2>&1; then
  echo ".bin directory is out of date. Run 'scripts/goblin.py' to update." >&2
fi

source_env_if_exists .envrc.local

